html, body, canvas{
	margin: 0;
	padding: 0;
	background: black;
	display:block;
	color:rgb(169, 152, 119);
	font-family: Verdana, sans-serif;
	font-size: 13px;
}
canvas{
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none
}
a{
	color: #d96500;
}
.page{
	margin: 0 auto;
	width: 980px;
}
